<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h3 class="text-primary">Editar Empleado</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="formularioEmpleado" (ngSubmit)="editarForm()" >
                <div class="form-group mb-3">
                    <label for="">Nombre</label>
                    
                    <input type="text"
                    class="form-control" formControlName="nombre" >
                </div>
                <div class="form-group mb-3">
                    <label for="">Apellidos</label>
                    <input type="text"
                    class="form-control" formControlName="apellidos" >
                </div>
                <div class="form-group mb-3">
                    <label for="">Correo</label>
                    <input type="email"
                    class="form-control" formControlName="correo" >
                </div>
                <div class="mb-3">
                    <input type="submit" value="Editar empleado" 
                    class="btn btn-success"
                       
                    >&nbsp;
                    <a class="btn btn-secondary" routerLink="/empleado"   >Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>